<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 - 글쓰기</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="~{common/header.html}"></header>
<div class="container">
  <form action="/board" method="post">
      <input type="hidden" name="_method" value="PUT">
<!--  <form action="#" th:action="/board" method="#" th:method="put">-->
    <div class="form-group row">
      <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
      <div class="col-sm-10">
        <input type="text" name="title" class="form-control" id="inputTitle" th:value="${board.title}" />
        <input type="hidden" name="boardId" class="form-control" id="hiddenBoardId" th:value="${board.boardId}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
      <div class="col-sm-10">
        <input type="text" name="author" class="form-control" id="inputAuthor" th:value="${board.author}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
      <div class="col-sm-10">
        <textarea type="text" name="content" class="form-control" id="inputContent" th:text="${board.content}"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">
          <input class="btn btn-primary" type="submit" role="button" value="수정하기" />
          <a class="btn btn-primary" th:href="@{/board/delete(boardId=${board.boardId})}">글 삭제</a>
          <!-- 파라미터를 넘길 시 -->
      </div>
    </div>
  </form>


<!--    <form action="/board/delete" method="post">-->
<!--        <input type="hidden" name="_method" value="PUT">-->
<!--        <input type="hidden" name="boardId" class="form-control"  th:value="${board.boardId}" />-->
<!--        <input class="btn btn-primary" type="submit" role="button" value="글삭제" />-->
<!--    </form>-->

</div>
<!--<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

